USE [MLA]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertEggsToCases]    Script Date: 3/9/2020 7:27:09 PM ******/
DROP FUNCTION IF EXISTS [dbo].[ConvertEggsToCases]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertEggsToCases]    Script Date: 3/9/2020 7:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConvertEggsToCases]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'


CREATE function [dbo].[ConvertEggsToCases] (@Eggs int)
returns numeric(19,2)
as
begin
	return convert(numeric(19,2),IsNull(@Eggs * 1.00,0) / 360.00)
end



' 
END

GO
