<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <!--<add key="connString" value="Data Source=GBRCZW1;Persist Security Info=True;User ID=sa;Password=sql2012;Initial Catalog=CEP" />-->
  <add key="connString" value="Data Source=.;Persist Security Info=True;User ID=MLA;Password=M@pleL@wn!;Initial Catalog=MLA;" />
  <add key="doNotLoadOnFindSQLDropDown" value="false" />
  <add key="doNotLoadFindSQLResultsOnGet" value="false" />
  <add key="ApplicationSchema" value="dbo" />
  <add key="mobileLayoutSize" value="small"/>
  <add key="rightAlignMenu" value="true"/>
  
  <!-- Site Header Settings --> 
  <add key="HideSiteLogo" value="true" />
  <add key="SiteLogo" value="images\logo.jpg"/>
  <add key="HideSiteTitle" value="false" />
  <add key="SiteTitle" value="Maple Lawn - Complete Solution" />
  <add key="SiteTitleData" value="exec SiteTitle_Get '|UserName|'"/>
  <add key="IncludeUserNameInMenu" value="false"/>
  <add key="websiteTitle" value="Maple Lawn - Complete Solution"/>
  
  <!-- Choose what displays on small screens. Valid values are: title, logo, both -->
  <add key="XSHeaderDisplay" value="logo" />

  <!--Login Label Settings-->
  <add key="UserNameLabel" value="Email"/>
  <add key="PasswordLabel" value="Password"/>
  <add key="UserNameFooter" value=""/>
  <add key="PasswordFooter" value=""/>
  <add key="SignInFooter" value=""/>

  <add key="XSHeaderDisplay" value="logo" />
  
  <!-- Begin Miscellaneous Images -->
  <!--<add key="Magnifier" value="images\Magnifier.png" />-->
  <add key="upload" value="images/plus.png"/>
  <!-- End Miscellaneous Images -->
  
  <!-- Uncomment to Disable Security -->
  <!-- <remove key="SecurityMethod" /> -->
  
  <!-- Forms Authentication Security Method: SQL/Other. Endpoint is needed for other -->
  <add key="UserAuthenticationMethod" value="SQL" />
  <add key="WebServiceSignOnEndpoint" value="" />
  <add key="AllowPasswordReset" value="1" />
  
  <!--Images and Icons-->
  <add key="edit" value="mode_edit"/>
  <add key="delete" value="delete"/>
  <add key="copy" value="layers"/>
  <add key="attachfile" value="attach_file" />
  <add key="money" value="attach_money" />
  
  <!-- Begin Support Settings -->
  <add key="LogActivity" value="true" />
  <add key="LogActivityVerbose" value="true" />
  <add key="LogExceptions" value="true" />
  <add key="LogValidationSqlExceptions" value="true" />
  <add key="LogRequestPerformance" value="true" />
  <add key="LogRequestResourcePerformance" value="true" />
  <add key="LogSqlCallPerformance" value="true" />
  <add key="LogFileReadPerformance" value="true" />
  <add key="LogOtherPerformance" value="true" />
  <add key="LogPerformanceVerbose" value="true" />
  <add key="LogPerformanceLogPerformance" value="true" />
  <!-- End Support Settings -->
</appSettings>
