<div ng-if="thisRecord.OrderIncubatorID8!=0">
    <a href="Form.html?screenID=IncubatorLoad&p={{thisRecord.OrderIncubatorID8}}&p=8">
        {{thisRecord.LotNbr8}}<br />
        Inc #{{thisRecord.Incubator8}}
    </a>
</div>
<div ng-if="thisRecord.OrderIncubatorID8==0">
    <a onclick="fireCSBLink(this); return false;" csb-link="showInDialog('Form.html?screenID=LoadPlanning_CreateOrderIncubator&p={{thisRecord.LoadPlanningID}}&p=8', 'Assign Lay Dates to Order', 1000,500)" href="">
        Select Order/Incubator
    </a>
</div>