USE [MLA]
GO
/****** Object:  StoredProcedure [csb].[PerformanceLogEntryType_GetList]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [csb].[PerformanceLogEntryType_GetList]
GO
/****** Object:  StoredProcedure [csb].[PerformanceLogEntryType_GetList]    Script Date: 3/9/2020 7:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[csb].[PerformanceLogEntryType_GetList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [csb].[PerformanceLogEntryType_GetList] AS' 
END
GO


ALTER procedure [csb].[PerformanceLogEntryType_GetList]
	@IncludeAll bit = 0
as
	select t.Name, t.PerformanceLogEntryTypeID, t.DisplaySequence
		from csb.PerformanceLogEntryType t
	union
	select 'All', -1, 0
		where @IncludeAll = 1
	order by DisplaySequence, Name


GO
