USE [MLA]
GO
/****** Object:  StoredProcedure [dbo].[ActualEmbryoDailySchedule_InsertUpdate]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[ActualEmbryoDailySchedule_InsertUpdate]
GO
/****** Object:  StoredProcedure [dbo].[ActualEmbryoDailySchedule_InsertUpdate]    Script Date: 3/9/2020 7:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActualEmbryoDailySchedule_InsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[ActualEmbryoDailySchedule_InsertUpdate] AS' 
END
GO



ALTER proc [dbo].[ActualEmbryoDailySchedule_InsertUpdate] 
	@I_vDate date,
	@I_vFarmColumn01_FarmID int = null,
	@I_vFarmColumn01_Qty int = null,
	@I_vFarmColumn01_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn02_FarmID int = null,
	@I_vFarmColumn02_Qty int = null,
	@I_vFarmColumn02_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn03_FarmID int = null,
	@I_vFarmColumn03_Qty int = null,
	@I_vFarmColumn03_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn04_FarmID int = null,
	@I_vFarmColumn04_Qty int = null,
	@I_vFarmColumn04_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn05_FarmID int = null,
	@I_vFarmColumn05_Qty int = null,
	@I_vFarmColumn05_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn06_FarmID int = null,
	@I_vFarmColumn06_Qty int = null,
	@I_vFarmColumn06_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn07_FarmID int = null,
	@I_vFarmColumn07_Qty int = null,
	@I_vFarmColumn07_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn08_FarmID int = null,
	@I_vFarmColumn08_Qty int = null,
	@I_vFarmColumn08_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn09_FarmID int = null,
	@I_vFarmColumn09_Qty int = null,
	@I_vFarmColumn09_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn10_FarmID int = null,
	@I_vFarmColumn10_Qty int = null,
	@I_vFarmColumn10_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn11_FarmID int = null,
	@I_vFarmColumn11_Qty int = null,
	@I_vFarmColumn11_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn12_FarmID int = null,
	@I_vFarmColumn12_Qty int = null,
	@I_vFarmColumn12_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn13_FarmID int = null,
	@I_vFarmColumn13_Qty int = null,
	@I_vFarmColumn13_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn14_FarmID int = null,
	@I_vFarmColumn14_Qty int = null,
	@I_vFarmColumn14_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn15_FarmID int = null,
	@I_vFarmColumn15_Qty int = null,
	@I_vFarmColumn15_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn16_FarmID int = null,
	@I_vFarmColumn16_Qty int = null,
	@I_vFarmColumn16_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn17_FarmID int = null,
	@I_vFarmColumn17_Qty int = null,
	@I_vFarmColumn17_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn18_FarmID int = null,
	@I_vFarmColumn18_Qty int = null,
	@I_vFarmColumn18_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn19_FarmID int = null,
	@I_vFarmColumn19_Qty int = null,
	@I_vFarmColumn19_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn20_FarmID int = null,
	@I_vFarmColumn20_Qty int = null,
	@I_vFarmColumn20_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn21_FarmID int = null,
	@I_vFarmColumn21_Qty int = null,
	@I_vFarmColumn21_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn22_FarmID int = null,
	@I_vFarmColumn22_Qty int = null,
	@I_vFarmColumn22_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn23_FarmID int = null,
	@I_vFarmColumn23_Qty int = null,
	@I_vFarmColumn23_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn24_FarmID int = null,
	@I_vFarmColumn24_Qty int = null,
	@I_vFarmColumn24_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn25_FarmID int = null,
	@I_vFarmColumn25_Qty int = null,
	@I_vFarmColumn25_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn26_FarmID int = null,
	@I_vFarmColumn26_Qty int = null,
	@I_vFarmColumn26_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn27_FarmID int = null,
	@I_vFarmColumn27_Qty int = null,
	@I_vFarmColumn27_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn28_FarmID int = null,
	@I_vFarmColumn28_Qty int = null,
	@I_vFarmColumn28_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn29_FarmID int = null,
	@I_vFarmColumn29_Qty int = null,
	@I_vFarmColumn29_PulletFarmPlanDetailID int = null,
	@I_vFarmColumn30_FarmID int = null,
	@I_vFarmColumn30_Qty int = null,
	@I_vFarmColumn30_PulletFarmPlanDetailID int = null,
	@O_iErrorState int=0 output,				  
	@oErrString varchar(255)='' output,
	@iRowID varchar(255)=NULL output  

as

-- The user may have changed 1 farm column or all farm columns
-- Have to test each one!
-- Let's insert them into a table so that we can loop through easier

create table #Data (
	FarmColumn01_FarmID int,
	FarmColumn01_Qty int,
	FarmColumn01_PulletFarmPlanDetailID int,
	FarmColumn02_FarmID int,
	FarmColumn02_Qty int,
	FarmColumn02_PulletFarmPlanDetailID int,
	FarmColumn03_FarmID int,
	FarmColumn03_Qty int,
	FarmColumn03_PulletFarmPlanDetailID int,
	FarmColumn04_FarmID int,
	FarmColumn04_Qty int,
	FarmColumn04_PulletFarmPlanDetailID int,
	FarmColumn05_FarmID int,
	FarmColumn05_Qty int,
	FarmColumn05_PulletFarmPlanDetailID int,
	FarmColumn06_FarmID int,
	FarmColumn06_Qty int,
	FarmColumn06_PulletFarmPlanDetailID int,
	FarmColumn07_FarmID int,
	FarmColumn07_Qty int,
	FarmColumn07_PulletFarmPlanDetailID int,
	FarmColumn08_FarmID int,
	FarmColumn08_Qty int,
	FarmColumn08_PulletFarmPlanDetailID int,
	FarmColumn09_FarmID int,
	FarmColumn09_Qty int,
	FarmColumn09_PulletFarmPlanDetailID int,
	FarmColumn10_FarmID int,
	FarmColumn10_Qty int,
	FarmColumn10_PulletFarmPlanDetailID int,
	FarmColumn11_FarmID int,
	FarmColumn11_Qty int,
	FarmColumn11_PulletFarmPlanDetailID int,
	FarmColumn12_FarmID int,
	FarmColumn12_Qty int,
	FarmColumn12_PulletFarmPlanDetailID int,
	FarmColumn13_FarmID int,
	FarmColumn13_Qty int,
	FarmColumn13_PulletFarmPlanDetailID int,
	FarmColumn14_FarmID int,
	FarmColumn14_Qty int,
	FarmColumn14_PulletFarmPlanDetailID int,
	FarmColumn15_FarmID int,
	FarmColumn15_Qty int,
	FarmColumn15_PulletFarmPlanDetailID int,
	FarmColumn16_FarmID int,
	FarmColumn16_Qty int,
	FarmColumn16_PulletFarmPlanDetailID int,
	FarmColumn17_FarmID int,
	FarmColumn17_Qty int,
	FarmColumn17_PulletFarmPlanDetailID int,
	FarmColumn18_FarmID int,
	FarmColumn18_Qty int,
	FarmColumn18_PulletFarmPlanDetailID int,
	FarmColumn19_FarmID int,
	FarmColumn19_Qty int,
	FarmColumn19_PulletFarmPlanDetailID int,
	FarmColumn20_FarmID int,
	FarmColumn20_Qty int,
	FarmColumn20_PulletFarmPlanDetailID int,
	FarmColumn21_FarmID int,
	FarmColumn21_Qty int,
	FarmColumn21_PulletFarmPlanDetailID int,
	FarmColumn22_FarmID int,
	FarmColumn22_Qty int,
	FarmColumn22_PulletFarmPlanDetailID int,
	FarmColumn23_FarmID int,
	FarmColumn23_Qty int,
	FarmColumn23_PulletFarmPlanDetailID int,
	FarmColumn24_FarmID int,
	FarmColumn24_Qty int,
	FarmColumn24_PulletFarmPlanDetailID int,
	FarmColumn25_FarmID int,
	FarmColumn25_Qty int,
	FarmColumn25_PulletFarmPlanDetailID int,
	FarmColumn26_FarmID int,
	FarmColumn26_Qty int,
	FarmColumn26_PulletFarmPlanDetailID int,
	FarmColumn27_FarmID int,
	FarmColumn27_Qty int,
	FarmColumn27_PulletFarmPlanDetailID int,
	FarmColumn28_FarmID int,
	FarmColumn28_Qty int,
	FarmColumn28_PulletFarmPlanDetailID int,
	FarmColumn29_FarmID int,
	FarmColumn29_Qty int,
	FarmColumn29_PulletFarmPlanDetailID int,
	FarmColumn30_FarmID int,
	FarmColumn30_Qty int,
	FarmColumn30_PulletFarmPlanDetailID int)

insert into #Data
select 
	@I_vFarmColumn01_FarmID,
	@I_vFarmColumn01_Qty,
	@I_vFarmColumn01_PulletFarmPlanDetailID,
	@I_vFarmColumn02_FarmID,
	@I_vFarmColumn02_Qty,
	@I_vFarmColumn02_PulletFarmPlanDetailID,
	@I_vFarmColumn03_FarmID,
	@I_vFarmColumn03_Qty,
	@I_vFarmColumn03_PulletFarmPlanDetailID,
	@I_vFarmColumn04_FarmID,
	@I_vFarmColumn04_Qty,
	@I_vFarmColumn04_PulletFarmPlanDetailID,
	@I_vFarmColumn05_FarmID,
	@I_vFarmColumn05_Qty,
	@I_vFarmColumn05_PulletFarmPlanDetailID,
	@I_vFarmColumn06_FarmID,
	@I_vFarmColumn06_Qty,
	@I_vFarmColumn06_PulletFarmPlanDetailID,
	@I_vFarmColumn07_FarmID,
	@I_vFarmColumn07_Qty,
	@I_vFarmColumn07_PulletFarmPlanDetailID,
	@I_vFarmColumn08_FarmID,
	@I_vFarmColumn08_Qty,
	@I_vFarmColumn08_PulletFarmPlanDetailID,
	@I_vFarmColumn09_FarmID,
	@I_vFarmColumn09_Qty,
	@I_vFarmColumn09_PulletFarmPlanDetailID,
	@I_vFarmColumn10_FarmID,
	@I_vFarmColumn10_Qty,
	@I_vFarmColumn10_PulletFarmPlanDetailID,
	@I_vFarmColumn11_FarmID,
	@I_vFarmColumn11_Qty,
	@I_vFarmColumn11_PulletFarmPlanDetailID,
	@I_vFarmColumn12_FarmID,
	@I_vFarmColumn12_Qty,
	@I_vFarmColumn12_PulletFarmPlanDetailID,
	@I_vFarmColumn13_FarmID,
	@I_vFarmColumn13_Qty,
	@I_vFarmColumn13_PulletFarmPlanDetailID,
	@I_vFarmColumn14_FarmID,
	@I_vFarmColumn14_Qty,
	@I_vFarmColumn14_PulletFarmPlanDetailID,
	@I_vFarmColumn15_FarmID,
	@I_vFarmColumn15_Qty,
	@I_vFarmColumn15_PulletFarmPlanDetailID,
	@I_vFarmColumn16_FarmID,
	@I_vFarmColumn16_Qty,
	@I_vFarmColumn16_PulletFarmPlanDetailID,
	@I_vFarmColumn17_FarmID,
	@I_vFarmColumn17_Qty,
	@I_vFarmColumn17_PulletFarmPlanDetailID,
	@I_vFarmColumn18_FarmID,
	@I_vFarmColumn18_Qty,
	@I_vFarmColumn18_PulletFarmPlanDetailID,
	@I_vFarmColumn19_FarmID,
	@I_vFarmColumn19_Qty,
	@I_vFarmColumn19_PulletFarmPlanDetailID,
	@I_vFarmColumn20_FarmID,
	@I_vFarmColumn20_Qty,
	@I_vFarmColumn20_PulletFarmPlanDetailID,
	@I_vFarmColumn21_FarmID,
	@I_vFarmColumn21_Qty,
	@I_vFarmColumn21_PulletFarmPlanDetailID,
	@I_vFarmColumn22_FarmID,
	@I_vFarmColumn22_Qty,
	@I_vFarmColumn22_PulletFarmPlanDetailID,
	@I_vFarmColumn23_FarmID,
	@I_vFarmColumn23_Qty,
	@I_vFarmColumn23_PulletFarmPlanDetailID,
	@I_vFarmColumn24_FarmID,
	@I_vFarmColumn24_Qty,
	@I_vFarmColumn24_PulletFarmPlanDetailID,
	@I_vFarmColumn25_FarmID,
	@I_vFarmColumn25_Qty,
	@I_vFarmColumn25_PulletFarmPlanDetailID,
	@I_vFarmColumn26_FarmID,
	@I_vFarmColumn26_Qty,
	@I_vFarmColumn26_PulletFarmPlanDetailID,
	@I_vFarmColumn27_FarmID,
	@I_vFarmColumn27_Qty,
	@I_vFarmColumn27_PulletFarmPlanDetailID,
	@I_vFarmColumn28_FarmID,
	@I_vFarmColumn28_Qty,
	@I_vFarmColumn28_PulletFarmPlanDetailID,
	@I_vFarmColumn29_FarmID,
	@I_vFarmColumn29_Qty,
	@I_vFarmColumn29_PulletFarmPlanDetailID,
	@I_vFarmColumn30_FarmID,
	@I_vFarmColumn30_Qty,
	@I_vFarmColumn30_PulletFarmPlanDetailID

-- Now just loop through them
declare 
	@SQL nvarchar(1000),
	@FarmID int, 
	@Qty int, 
	@PulletFarmPlanDetailID int, 
	@LoopNbr int = 0, 
	@LoopCount int = 30


while @LoopNbr < @LoopCount
begin
	select @LoopNbr = @LoopNbr + 1

	select @SQL = 'select @FarmID = FarmColumn{NN}_FarmID, @Qty = FarmColumn{NN}_Qty, @PulletFarmPlanDetailID = FarmColumn{NN}_PulletFarmPlanDetailID from #Data'
	select @SQL = replace(@SQL, '{NN}', right('00' + convert(varchar(4), @LoopNbr),2))

	exec sp_executesql @SQL, 
                    N'@FarmID int output', @FarmID output,
					N'@Qty int output', @Qty output,
					N'@PulletFarmPlanDetailID int output', @PulletFarmPlanDetailID output

	-- Is there actual data here?
	if @PulletFarmPlanDetailID is not null and @Qty is not null
	begin
		update PulletFarmPlanDetail set ActualSettableEggs = @Qty where PulletFarmPlanDetailID = @PulletFarmPlanDetailID
	end


end




GO
