USE [MLA]
GO
/****** Object:  StoredProcedure [dbo].[LoadPlanning_LookupForDelivery]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[LoadPlanning_LookupForDelivery]
GO
/****** Object:  StoredProcedure [dbo].[LoadPlanning_LookupForDelivery]    Script Date: 3/9/2020 7:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoadPlanning_LookupForDelivery]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[LoadPlanning_LookupForDelivery] AS' 
END
GO


ALTER proc [dbo].[LoadPlanning_LookupForDelivery]
AS

select DeliveryDate, LoadPlanningID
	from LoadPlanning
	order by 1



GO
