USE [MLA]
GO
/****** Object:  StoredProcedure [dbo].[Date_Find]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Date_Find]
GO
/****** Object:  StoredProcedure [dbo].[Date_Find]    Script Date: 3/9/2020 7:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Date_Find]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Date_Find] AS' 
END
GO



ALTER proc [dbo].[Date_Find]
@Date date
as

select Date = @Date



GO
