USE [MLA]
GO
/****** Object:  StoredProcedure [dbo].[DeliveryCart_Delete]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[DeliveryCart_Delete]
GO
/****** Object:  StoredProcedure [dbo].[DeliveryCart_Delete]    Script Date: 3/9/2020 7:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DeliveryCart_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[DeliveryCart_Delete] AS' 
END
GO


ALTER proc [dbo].[DeliveryCart_Delete]
	@I_vDeliveryCartID int
	,@O_iErrorState int=0 output
	,@oErrString varchar(255)='' output
	,@iRowID varchar(255)=NULL output
AS

delete from OrderDeliveryCart where DeliveryCartID = @I_vDeliveryCartID
delete from DeliveryCart where DeliveryCartID = @I_vDeliveryCartID



GO
