USE [MLA]
GO
/****** Object:  StoredProcedure [dbo].[Flock_LookupForOrder]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[Flock_LookupForOrder]
GO
/****** Object:  StoredProcedure [dbo].[Flock_LookupForOrder]    Script Date: 3/9/2020 7:27:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Flock_LookupForOrder]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Flock_LookupForOrder] AS' 
END
GO


ALTER proc [dbo].[Flock_LookupForOrder] 
	@OrderID int = null
	,@IncludeBlank bit = 0
	,@IncludeAll bit = 0
As

select @OrderID = nullif(@OrderID, '')
select @OrderID = isnull(@OrderID, 0)

select rtrim(f.Flock), ofl.FlockID
from dbo.OrderFlock ofl
inner join Flock f on ofl.FlockID = f.FlockID
where OrderID = isnull(@OrderID,OrderID)
union all
select '',  0
where @IncludeBlank = 1
union all
select 'All', 0
where @IncludeAll = 1
order by 1



GO
