USE [MLA]
GO
/****** Object:  StoredProcedure [dbo].[OrderInvoice_Delete]    Script Date: 3/9/2020 7:27:08 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[OrderInvoice_Delete]
GO
/****** Object:  StoredProcedure [dbo].[OrderInvoice_Delete]    Script Date: 3/9/2020 7:27:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderInvoice_Delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[OrderInvoice_Delete] AS' 
END
GO


ALTER proc [dbo].[OrderInvoice_Delete]
	@I_vOrderInvoiceID int
	,@O_iErrorState int=0 output
	,@oErrString varchar(255)='' output
	,@iRowID varchar(255)=NULL output
AS


-- We won't delete the orderinvoice, just mark the invoiceid as inactive
declare @InvoiceID int

select @InvoiceID = InvoiceID
from OrderInvoice 
where OrderInvoiceID = @I_vOrderInvoiceID

update Invoice set IsActive = 0 where InvoiceID = @InvoiceID



GO
