
<div text-align:center;">
    <div ng-if="thisRecord.OrderHoldingIncubatorID!='0'">
        <a name="OrderHoldingIncubatorID" id="OrderHoldingIncubatorID" onclick="fireCSBLink(this); return false;"
           csb-link="showInDialog('Form.html?screenID=OrderHoldingIncubator&amp;p={{thisRecord.OrderID}}&amp;p={{thisRecord.OrderHoldingIncubatorID}}','Edit HoldingIncubator',900,600)"
           href>
            <i id="OrderHoldingIncubatorID" class="center material-icons ng-binging ng-scope">mode_edit</i>
        </a>
        <md-tooltip md-direction="bottom">Edit</md-tooltip>
    </div>
    <div ng-if="thisRecord.OrderHoldingIncubatorID=='0'">
         <a name="OrderHoldingIncubatorID" id="OrderHoldingIncubatorID" onclick="fireCSBLink(this); return false;"
           csb-link="showInDialog('Form.html?screenID=OrderHoldingIncubator&amp;p={{thisRecord.OrderID}}&amp;p=0','Add HoldingIncubator',900,600)"
           href>
            <i id="OrderHoldingIncubatorID" class="center material-icons ng-binging ng-scope">add</i>
        </a>
        <md-tooltip md-direction="bottom">Create New</md-tooltip>
    </div>
</div> 

